.app__lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    background: transparent;

    .app__lightbox-delete {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        svg {
            cursor: pointer;
        }
    }
    

    img {
        position: relative;
        width: 500px;
        border-radius: 15px;
        cursor: pointer;
    }

    .app__lightbox-buttons {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        width: 100%;
    
        display: flex;
    
        background: transparent;

        .app__lightbox-previous, .app__lightbox-next {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--white);

            
        
            cursor: pointer;
        
            img {
                width: 15px;
                height: 20px;
            }
        }

        .app__lightbox-previous {
            position: absolute;
            left: -25px;
        }

        .app__lightbox-next {
            position: absolute;
            right: -25px;
        }
    }

    div {
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-around;
        
        background: transparent;

        .app__lightbox-thumbnail-container {
            border-radius: 15px;
            background-color: var(--white);
            

            width: 80px;
            height: 80px;
            
            .app__lightbox-thumbnail-current {
                opacity: .2;
                border: 2px solid var(--orange);
            }
        }

        .app__lightbox-thumbnail-border {
            border: 2px solid var(--orange);
        }

        .app__lightbox-thumbnail {
            width: 80px;
            height: 80px;

            &:hover {
                opacity: .3;
            }
        }
    }

}

